In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
import glob

In [ ]:
csv_files = glob.glob('path/to/csv/files/*.csv')

In [2]:
df = pd.read_csv('stock-time-series-20050101-to-20171231\AABA_2006-01-01_to_2018-01-01.csv')

In [3]:
df.head()

         Date   Open   High    Low  Close    Volume  Name
0  2006-01-03  39.69  41.22  38.79  40.91  24232729  AABA
1  2006-01-04  41.22  41.90  40.77  40.97  20553479  AABA
2  2006-01-05  40.93  41.73  40.85  41.53  12829610  AABA
3  2006-01-06  42.88  43.57  42.80  43.21  29422828  AABA
4  2006-01-09  43.10  43.66  42.82  43.42  16268338  AABA