In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
import glob

In [4]:
csv_files = glob.glob('stock-time-series-20050101-to-20171231/*.csv')
df_list = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)

In [5]:
common_columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
df_list = [pd.read_csv(file)[common_columns] for file in csv_files]

In [6]:
combined_df['Date'] = pd.to_datetime(combined_df['Date'])
combined_df = combined_df.sort_values('Date').reset_index(drop=True)

In [11]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195005 entries, 0 to 195004
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    195005 non-null  datetime64[ns]
 1   Open    194931 non-null  float64
 2   High    194976 non-null  float64
 3   Low     194946 non-null  float64
 4   Close   195005 non-null  float64
 5   Volume  195005 non-null  int64
 6   Name    195005 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 10.4+ MB

In [24]:
combined_df.ffill(inplace=True)
combined_df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Name      0
dtype: int64

In [25]:
combined_df.head()

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Name]
Index: []